Data Flow Definitions/NHTSA_API_-_Ratings_&_Complaints.json
{"flowContents":{"identifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","instanceIdentifier":"c0847036-0185-1000-ffff-ffffda452dac","name":"NTHSA_API_-_Ratings_&_Complaints","comments":"","position":{"x":-24.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ebe31f70-736c-39c0-936b-b865be422a70","instanceIdentifier":"8735327f-bb59-3311-a1d0-40fcfd30a79e","name":"/SafetyRatings/VehicleId/#","comments":"","position":{"x":2528.0,"y":984.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.nhtsa.gov/SafetyRatings/VehicleId/${vehicleId}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"dad3eb06-4548-3aa8-bf4d-47a43d060a43","instanceIdentifier":"33e43bac-4f23-3cb4-ab4c-59188c8af60d","name":"InvokeHTTP","comments":"","position":{"x":536.0,"y":592.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.nhtsa.gov/products/vehicle/modelYears?issueType=c","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"2954b0ea-719b-3154-9979-e1acb7a4e72d","instanceIdentifier":"c0766dec-86dc-38d1-93ad-3283b801e3e4","name":"PublishKafka_2_6","comments":"","position":{"x":2520.0,"y":1576.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{Kafka Broker Endpoint}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":"${kafka.key}","partition":"read","sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":"\n","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"VehicleRatings","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"84804b6c-8430-3cff-b026-83c529fddb93","instanceIdentifier":"dcbc0d6b-431c-34f8-ae03-7e9713c719ab","name":"Get Complaints","comments":"","position":{"x":3064.0,"y":440.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.nhtsa.gov/complaints/complaintsByVehicle?make=${make}&model=${model}&modelYear=${modelYear}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"2588ff7c-fc8a-3f79-830b-eae8144bc3b0","instanceIdentifier":"c3fed9a4-dfd3-3073-a06b-6081472342a1","name":"EvaluateJsonPath","comments":"","position":{"x":536.0,"y":984.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","modelYear":"$.modelYear","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"modelYear":{"name":"modelYear","displayName":"modelYear","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"65934e0a-cfeb-3f02-9650-b4641e0d5289","instanceIdentifier":"b15b3068-e401-30db-b15f-5d36456d6946","name":"RouteOnAttribute","comments":"","position":{"x":1240.0,"y":816.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Routing Strategy":"Route to Property name","tesla":"${make:equals('TESLA')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"tesla":{"name":"tesla","displayName":"tesla","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"7a0f79c8-4524-35ab-953f-7ca8034f8fc8","instanceIdentifier":"c6f59041-ac7a-3741-b397-88785ee88f98","name":"SplitJson","comments":"","position":{"x":1240.0,"y":432.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.results"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"2c2f6304-e372-39c4-b43c-575c8866c7b6","instanceIdentifier":"30f9eae6-fa1c-3e4d-96c0-70f3bd2e730c","name":"ReplaceText","comments":"","position":{"x":2520.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Regular Expression":"\\{\\\"VehiclePicture\\\":(.*)","Replacement Value":"{\"uuid\":\"${uuid}\",\"VehiclePicture\":$1","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"d95e0f8c-4440-31cd-a5f9-fa1814a82441","instanceIdentifier":"ba3250b8-df16-3503-81eb-9c1a4f94bdaa","name":"Get Model Variants","comments":"","position":{"x":1848.0,"y":608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.nhtsa.gov/SafetyRatings/modelyear/${modelYear}/make/${make}/model/${model}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"fda1205a-f14d-3f23-965e-6e418addd61a","instanceIdentifier":"4277f239-8c01-3309-8424-787286bd2a42","name":"SplitJson","comments":"","position":{"x":3064.0,"y":624.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.results"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"ae5fa8e8-daec-3436-a9a3-330aa7bd198c","instanceIdentifier":"734c881d-7091-383f-b490-1bcb1b23e6dc","name":"EvaluateJsonPath","comments":"","position":{"x":2528.0,"y":784.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","model":"$.model","vehicleId":"$.VehicleId","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"model":{"name":"model","displayName":"model","identifiesControllerService":false,"sensitive":false},"vehicleId":{"name":"vehicleId","displayName":"vehicleId","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"4f2612db-dcd6-3fe3-af68-a7b89ba8bd41","instanceIdentifier":"54f52858-8313-325e-a29e-3e74fe3e1b85","name":"EvaluateJsonPath","comments":"","position":{"x":1848.0,"y":432.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","model":"$.model","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"model":{"name":"model","displayName":"model","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"603be0be-2e75-3cbd-9c12-5059f694fb8d","instanceIdentifier":"7dc9a72f-9528-3826-9b32-519eeff57b1c","name":"SplitJson","comments":"","position":{"x":536.0,"y":800.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.results"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"33725104-c601-350b-98ba-25834aa92c29","instanceIdentifier":"f5520456-3fe4-3c02-ab0b-ec2e11aff490","name":"SplitJson","comments":"","position":{"x":1248.0,"y":1192.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.results"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"0d25c107-a245-31d2-98bf-3a76573599a1","instanceIdentifier":"dcf1d59c-4a86-3a3c-a4a2-87d8b58eaed1","name":"PublishKafka_2_6","comments":"","position":{"x":3072.0,"y":816.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{Kafka Broker Endpoint}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":"${kafka.key}","partition":"read","sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"VehicleComplaints","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"1008277a-ebdd-3825-9c08-d83be7293f5d","instanceIdentifier":"d3a1886e-8f72-312c-8f94-86e87a146d69","name":"Get Models by Make & Year","comments":"","position":{"x":1240.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"false","set-form-filename":"false","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.nhtsa.gov/products/vehicle/models?modelYear=${modelYear}&make=${make}&issueType=c","form-body-form-name":null,"Content-Type":"","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"d46e363f-1a96-3639-ae9c-8969f5e45bb0","instanceIdentifier":"3a0b46b8-8dc5-30de-8ce8-afc87690f579","name":"InvokeHTTP","comments":"","position":{"x":528.0,"y":1160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.nhtsa.gov/products/vehicle/makes?modelYear=${modelYear}&issueType=c","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"94897a3a-6fa7-3a2b-a121-c58a2ad0de98","instanceIdentifier":"cd164dc1-14d8-3bdf-9763-cc694d2e6005","name":"EvaluateJsonPath","comments":"","position":{"x":1240.0,"y":624.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","make":"$.make","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"make":{"name":"make","displayName":"make","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"78b8a31e-04af-387f-be38-b0cd993341e7","instanceIdentifier":"13bbc3bc-1e51-3608-896c-2a96e33772e1","name":"SplitJson","comments":"","position":{"x":2520.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.Results"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"5970f0c4-8135-3cfb-8a40-324f6bfaef4e","instanceIdentifier":"24c08b8d-86f8-3fd9-aefe-5fcaf3d3a0a6","name":"SplitJson","comments":"","position":{"x":1848.0,"y":792.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.Results"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"}],"inputPorts":[],"outputPorts":[{"identifier":"38694cb6-defd-3aad-b4e6-a39e37b45759","instanceIdentifier":"54de5d43-e5ae-3fd2-b73a-8328a504674a","name":"end of flow","position":{"x":3136.0,"y":1888.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"}],"connections":[{"identifier":"1ecdf077-cea6-3ab5-b242-be9928d185a6","instanceIdentifier":"5d6b3146-ee5e-398f-b097-583b22e4b147","name":"","source":{"id":"603be0be-2e75-3cbd-9c12-5059f694fb8d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"7dc9a72f-9528-3826-9b32-519eeff57b1c"},"destination":{"id":"2588ff7c-fc8a-3f79-830b-eae8144bc3b0","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c3fed9a4-dfd3-3073-a06b-6081472342a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"16817979-4c26-3598-9f7a-0877424d9a4b","instanceIdentifier":"2d080751-1c7b-3875-882d-15c61c260048","name":"","source":{"id":"2954b0ea-719b-3154-9979-e1acb7a4e72d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"c0766dec-86dc-38d1-93ad-3283b801e3e4"},"destination":{"id":"38694cb6-defd-3aad-b4e6-a39e37b45759","type":"OUTPUT_PORT","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"end of flow","instanceIdentifier":"54de5d43-e5ae-3fd2-b73a-8328a504674a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"17323456-ab67-3beb-af19-d10ba018d7e0","instanceIdentifier":"5118587c-fa8e-3c77-8543-8760944ef2db","name":"","source":{"id":"84804b6c-8430-3cff-b026-83c529fddb93","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"Get Complaints","comments":"","instanceIdentifier":"dcbc0d6b-431c-34f8-ae03-7e9713c719ab"},"destination":{"id":"fda1205a-f14d-3f23-965e-6e418addd61a","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"4277f239-8c01-3309-8424-787286bd2a42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"1fa4b511-a44f-3c92-aa63-a3163dff8582","instanceIdentifier":"2cb9a717-47e4-38c8-b00e-15e92c25e33f","name":"","source":{"id":"dad3eb06-4548-3aa8-bf4d-47a43d060a43","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"InvokeHTTP","comments":"","instanceIdentifier":"33e43bac-4f23-3cb4-ab4c-59188c8af60d"},"destination":{"id":"603be0be-2e75-3cbd-9c12-5059f694fb8d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"7dc9a72f-9528-3826-9b32-519eeff57b1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"61bcd517-5eb0-317d-8e5f-c4bd935de43a","instanceIdentifier":"9f5a4e6e-189f-3970-87ee-7bf0bd2fd4d9","name":"","source":{"id":"7a0f79c8-4524-35ab-953f-7ca8034f8fc8","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"c6f59041-ac7a-3741-b397-88785ee88f98"},"destination":{"id":"94897a3a-6fa7-3a2b-a121-c58a2ad0de98","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd164dc1-14d8-3bdf-9763-cc694d2e6005"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"ec40d69e-410f-358f-8cf1-182253df2e40","instanceIdentifier":"817be915-2a21-3e32-82a2-f36c62cd6c85","name":"","source":{"id":"2c2f6304-e372-39c4-b43c-575c8866c7b6","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"ReplaceText","comments":"","instanceIdentifier":"30f9eae6-fa1c-3e4d-96c0-70f3bd2e730c"},"destination":{"id":"2954b0ea-719b-3154-9979-e1acb7a4e72d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"c0766dec-86dc-38d1-93ad-3283b801e3e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"c1609d5e-01dd-3dd5-87f4-1b5a8e59781a","instanceIdentifier":"11165168-389e-35a8-a659-62b207398212","name":"","source":{"id":"0d25c107-a245-31d2-98bf-3a76573599a1","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"dcf1d59c-4a86-3a3c-a4a2-87d8b58eaed1"},"destination":{"id":"38694cb6-defd-3aad-b4e6-a39e37b45759","type":"OUTPUT_PORT","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"end of flow","instanceIdentifier":"54de5d43-e5ae-3fd2-b73a-8328a504674a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"a515f803-b924-3822-848d-68e3b79bc26c","instanceIdentifier":"5e386086-18a3-317d-babc-c2835d0775f8","name":"","source":{"id":"fda1205a-f14d-3f23-965e-6e418addd61a","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"4277f239-8c01-3309-8424-787286bd2a42"},"destination":{"id":"0d25c107-a245-31d2-98bf-3a76573599a1","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"dcf1d59c-4a86-3a3c-a4a2-87d8b58eaed1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"75833e83-f2d5-311f-9a24-0142469d8907","instanceIdentifier":"72eb2d44-ce1b-39de-8ec6-8462c67c4bfb","name":"","source":{"id":"4f2612db-dcd6-3fe3-af68-a7b89ba8bd41","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"54f52858-8313-325e-a29e-3e74fe3e1b85"},"destination":{"id":"84804b6c-8430-3cff-b026-83c529fddb93","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"Get Complaints","comments":"","instanceIdentifier":"dcbc0d6b-431c-34f8-ae03-7e9713c719ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"14cd36f4-ab1c-35da-a28f-f05f0830c36c","instanceIdentifier":"e66e94b0-dae1-3c55-b0f2-834c572b1ab6","name":"","source":{"id":"ae5fa8e8-daec-3436-a9a3-330aa7bd198c","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"734c881d-7091-383f-b490-1bcb1b23e6dc"},"destination":{"id":"ebe31f70-736c-39c0-936b-b865be422a70","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"/SafetyRatings/VehicleId/#","comments":"","instanceIdentifier":"8735327f-bb59-3311-a1d0-40fcfd30a79e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"ba21c925-a548-3cbe-91a2-9a0d28b820fe","instanceIdentifier":"7a6b4e72-b7e2-3ca0-8f2f-94fdc4d8835c","name":"","source":{"id":"65934e0a-cfeb-3f02-9650-b4641e0d5289","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b15b3068-e401-30db-b15f-5d36456d6946"},"destination":{"id":"1008277a-ebdd-3825-9c08-d83be7293f5d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"Get Models by Make & Year","comments":"","instanceIdentifier":"d3a1886e-8f72-312c-8f94-86e87a146d69"},"labelIndex":1,"zIndex":0,"selectedRelationships":["tesla"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"5586b9f8-78c9-3d23-b6bc-cc707f563695","instanceIdentifier":"e49e683c-cde3-32fc-a1ce-1a599da21c03","name":"","source":{"id":"94897a3a-6fa7-3a2b-a121-c58a2ad0de98","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd164dc1-14d8-3bdf-9763-cc694d2e6005"},"destination":{"id":"65934e0a-cfeb-3f02-9650-b4641e0d5289","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b15b3068-e401-30db-b15f-5d36456d6946"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"fafdd494-2837-3e20-9ff6-646f95cea569","instanceIdentifier":"3fd604a5-1b6c-3283-99a5-645bc3061e24","name":"","source":{"id":"1008277a-ebdd-3825-9c08-d83be7293f5d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"Get Models by Make & Year","comments":"","instanceIdentifier":"d3a1886e-8f72-312c-8f94-86e87a146d69"},"destination":{"id":"33725104-c601-350b-98ba-25834aa92c29","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"f5520456-3fe4-3c02-ab0b-ec2e11aff490"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"e1aa7feb-65f6-3f9f-b9eb-0d912849d853","instanceIdentifier":"cfa59040-7893-3821-8a23-aefdc1e85d6c","name":"","source":{"id":"2588ff7c-fc8a-3f79-830b-eae8144bc3b0","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c3fed9a4-dfd3-3073-a06b-6081472342a1"},"destination":{"id":"d46e363f-1a96-3639-ae9c-8969f5e45bb0","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"InvokeHTTP","comments":"","instanceIdentifier":"3a0b46b8-8dc5-30de-8ce8-afc87690f579"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"d314a508-b31a-3834-a9ca-804db803668c","instanceIdentifier":"10e6877f-e792-3607-94c8-e91f4069d4b4","name":"","source":{"id":"5970f0c4-8135-3cfb-8a40-324f6bfaef4e","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"24c08b8d-86f8-3fd9-aefe-5fcaf3d3a0a6"},"destination":{"id":"ae5fa8e8-daec-3436-a9a3-330aa7bd198c","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"734c881d-7091-383f-b490-1bcb1b23e6dc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"64ac9c30-3e2a-3b7a-82ff-e5ee3664629c","instanceIdentifier":"60e3a6ec-34e6-3966-b879-fd4f4af3c9c9","name":"","source":{"id":"ebe31f70-736c-39c0-936b-b865be422a70","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"/SafetyRatings/VehicleId/#","comments":"","instanceIdentifier":"8735327f-bb59-3311-a1d0-40fcfd30a79e"},"destination":{"id":"78b8a31e-04af-387f-be38-b0cd993341e7","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"13bbc3bc-1e51-3608-896c-2a96e33772e1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"c43cd236-ef85-3bf5-bc43-4f447618ebb0","instanceIdentifier":"014c1176-2b3b-32d0-866b-698a585596d0","name":"","source":{"id":"4f2612db-dcd6-3fe3-af68-a7b89ba8bd41","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"54f52858-8313-325e-a29e-3e74fe3e1b85"},"destination":{"id":"d95e0f8c-4440-31cd-a5f9-fa1814a82441","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"Get Model Variants","comments":"","instanceIdentifier":"ba3250b8-df16-3503-81eb-9c1a4f94bdaa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"eb07bd57-249d-39be-a7b3-cd50ed91f0bc","instanceIdentifier":"7276484b-99c2-380c-9031-c0b5f3a47af6","name":"","source":{"id":"d46e363f-1a96-3639-ae9c-8969f5e45bb0","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"InvokeHTTP","comments":"","instanceIdentifier":"3a0b46b8-8dc5-30de-8ce8-afc87690f579"},"destination":{"id":"7a0f79c8-4524-35ab-953f-7ca8034f8fc8","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"c6f59041-ac7a-3741-b397-88785ee88f98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1064.0,"y":1224.0},{"x":1056.0,"y":752.0},{"x":1048.0,"y":496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"5a7e8276-ab61-3925-9de4-2e436f6324c0","instanceIdentifier":"f652ea83-29aa-32c5-a9ba-06af8024cbbb","name":"","source":{"id":"0d25c107-a245-31d2-98bf-3a76573599a1","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"dcf1d59c-4a86-3a3c-a4a2-87d8b58eaed1"},"destination":{"id":"0d25c107-a245-31d2-98bf-3a76573599a1","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"dcf1d59c-4a86-3a3c-a4a2-87d8b58eaed1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3543.66015625,"y":858.128173828125},{"x":3543.66015625,"y":908.128173828125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"d8057170-558a-330f-8e7d-12bd5e0181e1","instanceIdentifier":"1f4f4b41-8409-384d-b1af-dca3ffbf460e","name":"","source":{"id":"2954b0ea-719b-3154-9979-e1acb7a4e72d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"c0766dec-86dc-38d1-93ad-3283b801e3e4"},"destination":{"id":"2954b0ea-719b-3154-9979-e1acb7a4e72d","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"c0766dec-86dc-38d1-93ad-3283b801e3e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2987.497802734375,"y":1620.4068603515625},{"x":2987.497802734375,"y":1670.4068603515625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"99136c3c-d3ff-377f-aab8-7e16fcede674","instanceIdentifier":"27f16ef1-4c6b-3fa5-9aec-be0559eb8397","name":"","source":{"id":"78b8a31e-04af-387f-be38-b0cd993341e7","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"13bbc3bc-1e51-3608-896c-2a96e33772e1"},"destination":{"id":"2c2f6304-e372-39c4-b43c-575c8866c7b6","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"ReplaceText","comments":"","instanceIdentifier":"30f9eae6-fa1c-3e4d-96c0-70f3bd2e730c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"a745a9c0-e6fb-31fa-b56e-ff0b05727b75","instanceIdentifier":"e65f2425-024f-397c-88b3-f5a65646f76c","name":"","source":{"id":"33725104-c601-350b-98ba-25834aa92c29","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"f5520456-3fe4-3c02-ab0b-ec2e11aff490"},"destination":{"id":"4f2612db-dcd6-3fe3-af68-a7b89ba8bd41","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"54f52858-8313-325e-a29e-3e74fe3e1b85"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1744.0,"y":1256.0},{"x":1736.0,"y":768.0},{"x":1728.0,"y":496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"92dc14cc-abf6-3bec-9893-239662693266","instanceIdentifier":"f531e9d1-303d-3c5e-831a-d0730157375b","name":"","source":{"id":"d95e0f8c-4440-31cd-a5f9-fa1814a82441","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"Get Model Variants","comments":"","instanceIdentifier":"ba3250b8-df16-3503-81eb-9c1a4f94bdaa"},"destination":{"id":"5970f0c4-8135-3cfb-8a40-324f6bfaef4e","type":"PROCESSOR","groupId":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3","name":"SplitJson","comments":"","instanceIdentifier":"24c08b8d-86f8-3fd9-aefe-5fcaf3d3a0a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"}],"labels":[{"identifier":"e4921b40-bd8e-30dc-99c4-404c706db707","instanceIdentifier":"079d9fae-59ae-3ffc-b8d5-78b5a2e19003","position":{"x":2288.0,"y":768.0},"label":"Ratings","zIndex":0,"width":176.0,"height":56.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"},{"identifier":"34e608bc-e626-3a40-8bc2-36763aa2cf99","instanceIdentifier":"f3aa89ab-5758-33a8-9185-c02c16e53205","position":{"x":2224.0,"y":408.0},"label":"Complaints","zIndex":0,"width":176.0,"height":56.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"fb84fc18-ce5d-37f4-b9c0-616b690fedb3"}],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"se_ent_east_params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"a5a7b76a-fd5d-31fa-9533-0c9795210d0f":{"identifier":"a5a7b76a-fd5d-31fa-9533-0c9795210d0f","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"se_ent_east_params":{"name":"se_ent_east_params","parameters":[{"name":"CDP Workload User Password","description":"","sensitive":true,"provided":false},{"name":"CDP Workload User","description":"","sensitive":false,"provided":false,"value":"steven.matison"},{"name":"Kafka Broker Endpoint","description":"","sensitive":false,"provided":false,"value":"nirchi-kafka-corebroker0.nirchi-e.a465-9q4k.cloudera.site:9093,nirchi-kafka-corebroker1.nirchi-e.a465-9q4k.cloudera.site:9093,nirchi-kafka-corebroker2.nirchi-e.a465-9q4k.cloudera.site:9093"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}